@font-face {
    font-family: pixeBoy;
    src: url(../font/PressStart2P.ttf);
}
:root {
    --grey: #555b6d;
    --primary: #7a5239;
}
.btn-floating.btn-large {
    background-color: var(--grey);
}
nav {
    background-color: var(--grey);
}
.card-content {
    height: 120px;
}
sidenav .bottom {
    position: absolute;
    bottom: 0;
    width: 300px;
    left: 0;
}
.bottom .btn {
    margin-bottom: 10px;
}
.discord-btn {
    background-color: #7289da;
}
.discord-btn:hover,
.discord-btn:focus {
    background-color: #677bc4;
}
body {
    display: flex;
    overflow: hidden;
    height: 100vh;
    background-color: #efefef;
}
a .fa-discord {
    margin-right: 10px;
}
sidenav {
    width: 300px;
    background-color: var(--grey);
    color: #efefef;
    display: block;
    padding: 10px;
}
blockquote {
    border-left-color: var(--primary);
}
main {
    display: block;
    overflow-y: auto;
}
@media all and (min-width: 996px) {
    main {
        width: calc(100% - 300px);
    }
}
a {
    cursor: pointer;
    color: var(--primary);
}
.row {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
dt {
    font-weight: bold;
}

h1 {
    font-size: 2.3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.6rem;
}
h4 {
    font-size: 1.3rem;
}
h5 {
    font-size: 1rem;
    font-weight: bold;
}

.avatar {
    display: flex;
}

.avatar .title {
    margin-right: 40px;
}
.collection-item.avatar {
    min-height: 64px !important;
}

sidenav a {
    color: white;
}

.sidenav-entry {
    margin: 15px;
}
